<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Accedi</title>
    <link rel="icon" href="/images/LogoPizzeria.jpg" type="image/jpeg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/login_css.css" rel="stylesheet">
    </head>

<body>
    <div class="container">
        <h1>Accedi</h1>
        <div th:if="${param.error}" class="error-message">
            <p>Nome utente o password non validi.</p>
        </div>
        <div th:if="${param.logout}" class="logout-message">
            <p>Sei stato disconnesso con successo.</p>
        </div>
        <form th:action="@{/login}" method="post">
            <div>
                <label for="username">Email:</label>
                <input type="text" id="username" name="username" class="form-control" required="required">
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" class="form-control" required="required">
            </div>
            <button type="submit" class="btn btn-danger">Accedi</button>
        </form>

        <div class="oauth-separator">
            <span>oppure</span>
        </div>
        <a th:href="@{/oauth2/authorization/google}" class="btn btn-google">
            Accedi con Google
        </a>
        <p>Non hai un account? <a th:href="@{/register}">Registrati qui</a>.</p>
    </div>
</body>

</html>